@import "@/styles/mixins.less";

.formikComponent {
  width: 100vw;
  .bufang-inputItem {
    width: 100%;
    padding-bottom: 20px;
    // min-height: 40px;
    .bufang-inputItem-label {
      .col-center();
      min-width: 60px;
      height: 40px;
      flex: 0;
    }
    .bufang-inputItem-input {
      flex: 1;
      input {
        width: 100%;
        height: 40px;
        border: solid 1px #ddd;
        border-radius: 5px;
        padding: 0 10px;
        font-size: 15px;
        overflow: hidden;
        box-sizing: border-box;
      }
    }
  }
}
